<!DOCTYPE html>
<html>
<head>
<style>

.nav {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.nav li{
  display: inline-block;
  display: text;
  color: white
  text-align: right;
  font-size:28px;
  padding: 5px 10px;
}


li a:hover {
  background-color: black;
}
.nav li a{
  text-decoration: none;
  color: white;
}

</style>
</head>
<body>

<ul class="nav">
  <li><a href="/home">Home</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/friends">Friends</a></li>
  <li><a href="/chat">Chat</a></li>
</ul>

</body>
</html>


