<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>INDEX</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> WELCOME </h1>
        <br>
        <p>Click Here To <a href="login.html">Log In</a></p>
        <p>Click Here To <a href="signup.html">Sign Up</a></p>
       
    </body>
</html>